import { initializeApp } from 'firebase/app'
import { getFirestore } from 'firebase/firestore'

const firebaseConfig = {
    apiKey: '',
    authDomain: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',
    appId: ''
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
// init firestore service
const db = getFirestore(app);
export {
    db
};