.bg-profession {
  background-color: #dfe0e1;
}

//quotation marks at resume
.quotation::before {
  content: open-quote;
}

.quotation::after {
  content: close-quote;
}

// speech bubble
.box {
  width: fit-content;
  height: fit-content;
  background: #dfe0e1;
  padding: 20px;
  text-align: center;
  color: $gray;
  position: relative;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #dfe0e1;
  border-top: 10px solid #dfe0e1;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

// robot image
.logo-robot{
  max-width: 275px !important;
}

.robot {
  max-height: 150px;
  @include md {
    max-height: 200px;
  }
}

.border-primary {
  border: 2px solid $primary;
}

// explanation highlights
.bg-prof-0 {
  background: rgb(95,158,160);
  background: linear-gradient(180deg, rgba(95,158,160,1) 0%, rgba(31,119,180,0) 50%, rgba(31,119,180,1) 100%);
  height:10rem;
  @include md {
    background: rgb(95,158,160);
    background: linear-gradient(90deg, rgba(95,158,160,1) 0%, rgba(31,119,180,0) 50%, rgba(31,119,180,1) 100%);
    height:2rem;
  }
}
.bg-prof-1 {
  background: rgb(95,158,160);
  background: linear-gradient(180deg, rgba(95,158,160,1) 0%, rgba(255,127,14,0) 50%, rgba(255,127,14,1) 100%);
  height:10rem;
  @include md {
    background: rgb(95,158,160);
    background: linear-gradient(90deg, rgba(95,158,160,1) 0%, rgba(255,127,14,0) 50%, rgba(255,127,14,1) 100%);
    height:2rem;
  }
}
.bg-prof-2 {
  background: rgb(95,158,160);
  background: linear-gradient(180deg, rgba(95,158,160,1) 0%, rgba(44,160,44,0) 50%, rgba(44,160,44,1) 100%);
  height:10rem;
  @include md {
    background: rgb(95,158,160);
    background: linear-gradient(90deg, rgba(95,158,160,1) 0%, rgba(44,160,44,0) 50%, rgba(44,160,44,1) 100%);
    height:2rem;
  }
}
.bg-prof-3 {
  background: rgb(95,158,160);
  background: linear-gradient(180deg, rgba(95,158,160,1) 0%, rgba(214,39,40,0) 50%, rgba(214,39,40,1) 100%);
  height:10rem;
  @include md {
    background: rgb(95,158,160);
    background: linear-gradient(90deg, rgba(95,158,160,1) 0%, rgba(214,39,40,0) 50%, rgba(214,39,40,1) 100%);
    height:2rem;
  }
}
.bg-prof-4 {
  background: rgb(95,158,160);
  background: linear-gradient(180deg, rgba(95,158,160,1) 0%, rgba(148,103,189,0) 50%, rgba(148,103,189,1) 100%);
  height:6rem;
  @include md {
    background: rgb(95,158,160);
    background: linear-gradient(90deg, rgba(95,158,160,1) 0%, rgba(148,103,189,0) 50%, rgba(148,103,189,1) 100%);
    height:2rem;
  }
}