@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

@import './_variables.scss';
@import './_typography.scss';
@import './_buttons.scss';
@import './_custom.scss';
//@import './_base.css';

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue-3/dist/bootstrap-vue-3.css';



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
